{% extends "homepage/base.html" %}
{% load static %}

{% block content %}

<div id="content-wrap" style="color: white;">
    <div class="container about-section">
    <h1>What is Fresh Potatoes?</h1>
    <p>Fresh potatoes provides a simplified and more efficient movie searching process for any users that watches movies and TV shows at any age range. We aim to have a more simplified user experience by implementing more defined and detailed recommendation options.</p>
    <h1>How are we different from other movie platforms?</h1>
    <p>Fresh Potatoes will gather and organize the newest information from a variety of streaming platforms including IMDb, Netflix, Disney+, Youtube and more. Fresh Potatoes will recommend specific genres of movies to the users based on their most checked movie categories. For newcomers, Fresh Potatoes will initialize the recommendations based off of the user survey at sign up.</p> 
    </div>


{% endblock %}
