{% extends "homepage/base.html" %}
{% load static %}
{% block content %}

<div class= "row justify-content-md-center">
    <div class="col-md-auto">
        <div class= "alert alert-info " style="width: 100%">
            <div class= "row justify-content-md-center">
                <div class= "row justify-content-md-center">
                    <div class="col-md-auto col-md-offset-4" align="center">
                        <a>
                            <h5> The {{header}}: </h5>
                            
                            <img src="{{poster_path}}"><h5>{{title}} </h5>
                            
                            <h5> Has been added to your liked list! </h5>
                        </a>
                    </div>
                    
                </div>  
                
            </div>
            <div class= "row justify-content-md-center"> 
                <small class= "text-muted"> 
                    <a href="../../../more_info/{{type}}/{{id}}/"> Return to previous page</a>
                </small>
            </div>
        </div>
    </div>  
</div>



{% endblock %}