{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fresh Potatoes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--for template specific css or scripts-->
    {% block head %}
    {% endblock %}

</head>
<body>
    
    <!--header-->

   
    <div class="container header">
        <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" class="logo"></a>
        <b class="site-name mt-3"><a href="{% url 'home' %}" style="color: inherit; text-decoration: none;">Fresh Potatoes</a></b>
            <!--search bar-->
            <form class="header-btn search-bar" id="search-bar" action="{% url 'search' %}" method="get">
                <input name="q" type="text" placeholder="Search..." id = "search-look">
                <button type="submit" form="search-bar" class="search-bar-button"><img src="{% static 'img/search--v2.png' %}"></button>
            </form>
        <!--if user is authenticated, show logout and profile, else show login and register-->
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="header-btn">Logout</a>
                <a href="{% url 'profile' %}" class="header-btn">Profile</a>
                <a href="{% url 'about' %}" class="header-btn">About</a>
                <a href="{% url 'home' %}" class="header-btn">Home</a>
            {% else %}
                <a href="{% url 'login' %}" class="header-btn">Login</a>
                <a href="{% url 'register' %}" class="header-btn">Register</a>
                <a href="{% url 'about' %}" class="header-btn">About</a>
                <a href="{% url 'home' %}" class="header-btn">Home</a>
            {% endif %}
    </div>

    {% block content %}
    {% endblock %}

    <!--Footer-->
    <div class="container footer">
      <img src="{% static 'img/logo.png' %}" class="logo">
      <ul class="list-inline">
          <li class="list-inline-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="list-inline-item"><a href="{% url 'about' %}">About</a></li>
      </ul>
    </div>
  
</body>
</html>