{% extends "homepage/base.html" %}
{% load static %}
{% block content %}



<!-- <div class= "accordion"> -->

<div class="col-md-auto, container movie-details" style= "padding: rem;" > <!--style="padding: 1rem"-->
  <div class= "row justify-content-md-center"> 
    <div class="card-header">
      <center>
        <legend class="site-header" style="color: white"> Frequently Asked Questions:</legend> 
      </center>
    </div>
  </div> <!-- end of card header -->
  <div class="row justify-content-md-center">
        <div class= "card" style="width: 30rem;"> <!-- padding: 1em; -->
            <div class="accordion" id="FAQ">
              {% for faq in faqs %} <!-- loops through and applies all faq questions to the accordian collaps on our /FAQ page -->

                <div class="card"> <!-- Start of question -->
                  <div class="card-header" id={{faq.quest_num}}>
                    <h5 class="site-header">
                      <button  class="btn" type="button" data-toggle="collapse" data-target={{faq.target}} aria-expanded="true" aria-controls={{faq.quest_num}}>
                        <a class= " article title "> {{faq.question}} </a>
                      </button>
                    </h5>
                  </div>
              
                  <div id= {{faq.ans_num}} class="collapse" aria-labelledby={{faq.quest_num}} data-parent="#FAQ"> <!-- if you want the section to be expanded by default make class: class="collapse show"-->
                    <div class="card-body">

                      {{faq.answer}}
                    </div>
                  </div>
                </div> <!-- end of question -->
              {% endfor %}
                
            </div> <!-- end of accordian class -->
        </div>
    </div>
</div> <!-- end row jusfity-->


{% endblock %}