{% extends "homepage/base.html" %}
{% load static %}
{% block content %}


<div id="content-wrap">
    <div class="container movie-detailed-view">
        <div class="row">
            <div class="col-md-6 left-box">
                <h1>{{title}}</h1>
                <h4 style="color:white;"><i class="fa fa-calendar" aria-hidden="true"></i>{{release_date}}</h4>
                <h4 style="color: white;"><i class="fa fa-hourglass-half" aria-hidden="true"></i>{{runtime}} minutes</h4>
                <h4 style="color: white;"><i class="fa fa-info-circle" aria-hidden="true"></i>{{status}} </h4>
                <h4 style="color: white;"><i class="fa fa-star" aria-hidden="true"></i></i>{{rating}} </h4>
                <div class="more_info_btns">
                    <a href="https://www.youtube.com/watch?v={{trailer}}" class="watch-btn"><i class="fa fa-play" aria-hidden="true"></i>Watch Trailer</a>
                    <a href="" class="watch-btn"><i class="fa fa-play" aria-hidden="true"></i>Streaming site</a>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <img src="{{poster_path}}" class="movie-img"> 
            </div>
        </div>
    </div>
    <div>
    <!-- Movie Overview -->
    <div class="container movie-details-overview">
        <h3>Overview:</h3>
        <p>{{overview}}</p>
    </div>
</div>


{% endblock %}