{% extends "homepage/base.html" %}
{% load static %}




{% block content %}


<div id="content-wrap">
    <div class="container movie-detailed-view">
        <div class="row">
            <div class="col-md-6 left-box">
                <h1>{{title}}</h1>
                <h4 style="color:white;"><i class="fa fa-calendar" aria-hidden="true"></i>{{release_date}}</h4>
                <h4 style="color: white;"><i class="fa fa-hourglass-half" aria-hidden="true"></i>{{runtime}} minutes</h4>
                <h4 style="color: white;"><i class="fa fa-info-circle" aria-hidden="true"></i>{{status}} </h4>
                <h4 style="color: white;"><i class="fa fa-star" aria-hidden="true"></i>{{rating}} </h4>
                <h4 style="color: white;"><ul id="horizontal-list" ><i class="fa fa-id-card-o" aria-hidden="true"></i>  
                    
                    {% for item in genres %}
                    <li style="display: inline-block;"><p style="font-size:medium;">{{item.name}}</p></li>
                    {% endfor %}
                    </ul>
                </h4>
                <div class="more_info_btns">
                    <!-- trailer-->
                    {% if trailer %}
                        <a href="https://www.youtube.com/watch?v={{trailer}}" class="watch-btn"><i class="fa fa-play" aria-hidden="true"></i>Watch Trailer</a>

                    {% else %}
                        <a class="watch-btn"><i class="fa fa-frown-o" aria-hidden="true"></i>Trailer Unavailable</a>
                    {% endif %}
                    <!-- provider link-->
                    {% if provider_link %}
                        <a href="{{provider_link}}" class="watch-btn"><i class="fa fa-play" aria-hidden="true"></i>Streaming Site</a>
                    {% else %}
                        <a class="watch-btn"><i class="fa fa-frown-o" aria-hidden="true"></i>CA Streaming Site Unavailable</a>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <!-- Trigger/Open The Modal -->
                        <style>
                            .modal {
                                display: none; /* Hidden by default */
                                position: fixed; /* Stay in place */
                                z-index: 1; /* Sit on top */
                                left: 0;
                                top: 0;
                                width: 100%; /* Full width */
                                height: 100%; /* Full height */
                                overflow: auto; /* Enable scroll if needed */
                                background-color: rgb(0,0,0); /* Fallback color */
                                background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
                            }
                            
                            /* Modal Content/Box */
                            .modal-content {
                                background-color: #fefefe;
                                margin: 5% auto; /* 15% from the top and centered */
                                padding-bottom: 20px;
                                border: 1px solid #888;
                                width: 40%; /* Could be more or less, depending on screen size */
                            }

                            
                            /* The Close Button */
                            .close {
                                color: #aaa;
                                float: right;
                                font-size: 28px;
                                font-weight: bold;
                            }
                            
                            .close:hover,
                            .close:focus {
                                color: black;
                                text-decoration: none;
                                cursor: pointer;
                            }
                        </style>
                        <a class="watch-btn" id="myBtn" role="button"><i class="fa fa-plus" aria-hidden="true"></i>Watch Later</a>
                        <div id="watch-laterModal" class="modal">
                            <div class="modal-content" >
                                <span class="close">&times;</span>
                                <p style="color: black; margin:auto;">Movie Added! Check your farm for added movies!</p>
                            </div>
                        </div>

                        <script>
                            var modal = document.getElementById("watch-laterModal");
                            
                            // Get the button that opens the modal
                            var btn = document.getElementById("myBtn");
                            
                            // Get the <span> element that closes the modal
                            var span = document.getElementsByClassName("close")[0];
                            
                            // When the user clicks on the button, open the modal
                            btn.onclick = function() {
                              modal.style.display = "block";
                            }
                            
                            // When the user clicks on <span> (x), close the modal
                            span.onclick = function() {
                              modal.style.display = "none";
                            }
                            
                            // When the user clicks anywhere outside of the modal, close it
                            window.onclick = function(event) {
                              if (event.target == modal) {
                                modal.style.display = "none";
                              }
                            }
                            </script>
                    {% endif %}
                    
                    
                </div>
            </div>
            <div class="col-md-6 text-right">
                <img src="{{poster_path}}" class="movie-img"> 
            </div>
        </div>
    </div>
    <!-- Movie Overview -->
    <div class="container movie-details-overview" style="color: white; margin-bottom: 75px;">
        <h3>Overview:</h3>
        <p>{{overview}}</p>
    </div>
    <!-- Where to watch-->
    <div class="container movie-details-provider" style="color: white" >
                        

        <div>

            {% if providers %}
            <br>
            <h3>Where to watch (More details on "<a href="{{provider_link}}" style="color:white;">Streaming Site</a>"):</h3>
               
            {% for key, value in providers.items %}
            {% if key == 'rent' and value.items %}
            <h5 style="color:grey"> Rent: </h5>
            {% endif %}
            {% if key == 'stream' and value.items %}
            <h5 style="color:grey"> Stream: </h5>
            {% endif %}
            {% if key == 'buy' and value.items %}
            <h5 style="color:grey"> Buy: </h5>
            {% endif %}

            <div class="row " >
                {% for key, value in value.items %} 
                
                <div class= "col-md-1">
                    <img src="{{value.logo}}" class="provider-icon" alt="Avatar">                                 
                </div>
                
                
                {% endfor %}
            </div>
            {% endfor %}
            
            {% else %}
            
            <h3>Where to watch:</h3>
            <medium>Not provided through any watch services in Canada :(</medium>
            
            {% endif %}
            
        </div>
    </div>
    
    
    
</div>




{% endblock %}