.u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/capture6.png");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 804px;
}

.u-section-1-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 525px 0 0 570px;
}

.u-section-1-1 .u-text-2 {
  margin: 0 0 0 570px;
}

.u-section-1-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 89px 30px 30px auto;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-1-1 .u-text-1 {
    width: 760px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-text-1 {
    width: 720px;
    margin-left: 350px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-text-1 {
    font-size: 2.25;
    width: 540px;
    margin-left: 170px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
    margin-left: 0;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 0;
  }
}.u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/capture6.png");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 804px;
}

.u-section-1-2 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 526px 0 0 570px;
}

.u-section-1-2 .u-text-2 {
  margin: 0 0 0 570px;
}

.u-section-1-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 89px 30px 30px auto;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-1-2 .u-text-1 {
    width: 760px;
    margin-top: 513px;
  }

  .u-section-1-2 .u-text-2 {
    width: 760px;
    margin-bottom: 60px;
  }

  .u-section-1-2 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-text-1 {
    width: 720px;
    margin-left: 350px;
  }

  .u-section-1-2 .u-text-2 {
    width: 720px;
    margin-left: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-text-1 {
    font-size: 2.25;
    width: 540px;
    margin-left: 170px;
  }

  .u-section-1-2 .u-text-2 {
    width: 540px;
    margin-left: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
    margin-left: 0;
  }

  .u-section-1-2 .u-text-2 {
    width: 340px;
    margin-left: 0;
  }
}.u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/capture6.png");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 804px;
}

.u-section-1-3 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 525px 0 0 570px;
}

.u-section-1-3 .u-text-2 {
  margin: 0 0 0 570px;
}

.u-section-1-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: solid;
  margin: 89px 30px 30px auto;
  padding: 10px 32px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-1-3 .u-btn-1 {
    margin-top: 60px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-text-1 {
    margin-left: 350px;
  }

  .u-section-1-3 .u-text-2 {
    margin-left: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-text-1 {
    margin-left: 170px;
    font-size: 6rem;
  }

  .u-section-1-3 .u-text-2 {
    margin-left: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 0;
  }

  .u-section-1-3 .u-text-2 {
    margin-left: 0;
  }
}.u-block-cac3-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-cac3-7 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
  right: auto;
}

.u-block-cac3-6 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 504px;
}

.u-section-2 .u-btn-1 {
  font-size: 2.1875rem;
  font-weight: 900;
  text-transform: uppercase;
  border-style: none;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-2 .u-slider-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 414px;
  margin-left: 0;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 55px;
}

.u-section-2 .u-gallery-1 {
  height: 253px;
  width: 904px;
  grid-gap: 10px 10px;
  margin: 51px auto 0;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 15px 15px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  margin: 0 auto 0 431px;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  margin: -25px 372px 0 auto;
  padding: 0;
}

.u-section-2 .u-btn-4 {
  border-style: none;
  margin: -25px auto 0 247px;
  padding: 0;
}

.u-section-2 .u-btn-5 {
  border-style: none;
  margin: -25px auto 0 63px;
  padding: 0;
}

.u-section-2 .u-btn-6 {
  border-style: none;
  margin: -25px 188px 0 auto;
  padding: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-gallery-2 {
  height: 253px;
  width: 904px;
  grid-gap: 10px 10px;
  margin: 51px auto 0;
}

.u-section-2 .u-gallery-inner-2 {
  grid-gap: 15px 15px;
  grid-template-columns: auto auto auto auto auto;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-btn-7 {
  border-style: none;
  margin: 0 auto 0 456px;
  padding: 0;
}

.u-section-2 .u-btn-8 {
  border-style: none;
  margin: -25px auto 0 88px;
  padding: 0;
}

.u-section-2 .u-btn-9 {
  border-style: none;
  margin: -25px auto 0 272px;
  padding: 0;
}

.u-section-2 .u-btn-10 {
  border-style: none;
  margin: -25px 398px 0 auto;
  padding: 0;
}

.u-section-2 .u-btn-11 {
  border-style: none;
  margin: -25px 214px 0 auto;
  padding: 0;
}

.u-section-2 .u-carousel-control-1 {
  background-image: none;
  width: 55px;
  height: 55px;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-2 .u-carousel-control-2 {
  background-image: none;
  width: 55px;
  height: 55px;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-2 .u-btn-1 {
    border-style: none none solid;
  }

  .u-section-2 .u-slider-1 {
    min-height: 453px;
    height: auto;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-gallery-1 {
    height: 232px;
    grid-template-columns: repeat(3, auto);
    margin-top: 18px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(5, auto);
  }

  .u-section-2 .u-btn-2 {
    margin-left: 231px;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 172px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: -26px;
    margin-left: 45px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-gallery-2 {
    height: 393px;
    grid-template-columns: auto auto auto;
    margin-top: 194px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-gallery-inner-2 {
    grid-template-columns: repeat(5, auto);
  }

  .u-section-2 .u-btn-7 {
    margin-top: -283px;
    margin-left: 304px;
  }

  .u-section-2 .u-btn-8 {
    margin-top: 257px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-9 {
    margin-left: 129px;
  }

  .u-section-2 .u-btn-10 {
    margin-right: 198px;
  }

  .u-section-2 .u-btn-11 {
    margin-right: 14px;
  }

  .u-section-2 .u-carousel-control-1 {
    top: 168px;
  }

  .u-section-2 .u-carousel-control-2 {
    top: 168px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-gallery-1 {
    height: 615px;
    grid-template-columns: repeat(2, auto);
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-2 .u-btn-2 {
    margin-left: 61px;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 2px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 65px;
  }

  .u-section-2 .u-gallery-2 {
    height: 680px;
    grid-template-columns: auto auto;
    margin-top: -93px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-inner-2 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-2 .u-btn-7 {
    margin-left: 84px;
  }

  .u-section-2 .u-btn-9 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-10 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-11 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1090px;
    grid-template-columns: repeat(1, auto);
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-gallery-2 {
    margin-top: -1020px;
    height: 1607px;
    grid-template-columns: auto;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-2 .u-btn-7 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-gallery-1 {
    height: 2236px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-2 .u-gallery-2 {
    margin-top: -402px;
    height: 989px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 504px;
}

.u-section-3 .u-btn-1 {
  font-size: 2.1875rem;
  font-weight: 900;
  text-transform: uppercase;
  border-style: none;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-3 .u-slider-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 414px;
  margin-left: 0;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 55px;
}

.u-section-3 .u-gallery-1 {
  height: 253px;
  width: 904px;
  grid-gap: 10px 10px;
  margin: 51px auto 0;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 15px 15px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  margin: 0 auto 0 431px;
  padding: 0;
}

.u-section-3 .u-btn-3 {
  border-style: none;
  margin: -25px 372px 0 auto;
  padding: 0;
}

.u-section-3 .u-btn-4 {
  border-style: none;
  margin: -25px auto 0 247px;
  padding: 0;
}

.u-section-3 .u-btn-5 {
  border-style: none;
  margin: -25px auto 0 63px;
  padding: 0;
}

.u-section-3 .u-btn-6 {
  border-style: none;
  margin: -25px 188px 0 auto;
  padding: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-gallery-2 {
  height: 253px;
  width: 904px;
  grid-gap: 10px 10px;
  margin: 51px auto 0;
}

.u-section-3 .u-gallery-inner-2 {
  grid-gap: 15px 15px;
  grid-template-columns: auto auto auto auto auto;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-btn-7 {
  border-style: none;
  margin: 0 auto 0 456px;
  padding: 0;
}

.u-section-3 .u-btn-8 {
  border-style: none;
  margin: -25px auto 0 88px;
  padding: 0;
}

.u-section-3 .u-btn-9 {
  border-style: none;
  margin: -25px auto 0 272px;
  padding: 0;
}

.u-section-3 .u-btn-10 {
  border-style: none;
  margin: -25px 398px 0 auto;
  padding: 0;
}

.u-section-3 .u-btn-11 {
  border-style: none;
  margin: -25px 214px 0 auto;
  padding: 0;
}

.u-section-3 .u-carousel-control-1 {
  background-image: none;
  width: 55px;
  height: 55px;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-3 .u-carousel-control-2 {
  background-image: none;
  width: 55px;
  height: 55px;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-3 .u-btn-1 {
    border-style: none none solid;
  }

  .u-section-3 .u-slider-1 {
    min-height: 453px;
    height: auto;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-3 .u-gallery-1 {
    height: 232px;
    grid-template-columns: repeat(3, auto);
    margin-top: 18px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(5, auto);
  }

  .u-section-3 .u-btn-2 {
    margin-left: 231px;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 172px;
  }

  .u-section-3 .u-btn-4 {
    margin-top: -26px;
    margin-left: 45px;
  }

  .u-section-3 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-3 .u-gallery-2 {
    height: 393px;
    grid-template-columns: auto auto auto;
    margin-top: 194px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-gallery-inner-2 {
    grid-template-columns: repeat(5, auto);
  }

  .u-section-3 .u-btn-7 {
    margin-top: -283px;
    margin-left: 304px;
  }

  .u-section-3 .u-btn-8 {
    margin-top: 257px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-9 {
    margin-left: 129px;
  }

  .u-section-3 .u-btn-10 {
    margin-right: 198px;
  }

  .u-section-3 .u-btn-11 {
    margin-right: 14px;
  }

  .u-section-3 .u-carousel-control-1 {
    top: 168px;
  }

  .u-section-3 .u-carousel-control-2 {
    top: 168px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-gallery-1 {
    height: 615px;
    grid-template-columns: repeat(2, auto);
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-3 .u-btn-2 {
    margin-left: 61px;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 2px;
  }

  .u-section-3 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 65px;
  }

  .u-section-3 .u-gallery-2 {
    height: 680px;
    grid-template-columns: auto auto;
    margin-top: -93px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-2 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-3 .u-btn-7 {
    margin-left: 84px;
  }

  .u-section-3 .u-btn-9 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-10 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-11 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1090px;
    grid-template-columns: repeat(1, auto);
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-gallery-2 {
    margin-top: -1020px;
    height: 1607px;
    grid-template-columns: auto;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-3 .u-btn-7 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-gallery-1 {
    height: 2236px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-3 .u-gallery-2 {
    margin-top: -402px;
    height: 989px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 504px;
}

.u-section-4 .u-btn-1 {
  font-size: 2.1875rem;
  font-weight: 900;
  text-transform: uppercase;
  border-style: none;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-4 .u-slider-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 414px;
  margin-left: 0;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 55px;
}

.u-section-4 .u-gallery-1 {
  height: 253px;
  width: 904px;
  grid-gap: 10px 10px;
  margin: 51px auto 0;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 15px 15px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  margin: 0 auto 0 431px;
  padding: 0;
}

.u-section-4 .u-btn-3 {
  border-style: none;
  margin: -25px 372px 0 auto;
  padding: 0;
}

.u-section-4 .u-btn-4 {
  border-style: none;
  margin: -25px auto 0 247px;
  padding: 0;
}

.u-section-4 .u-btn-5 {
  border-style: none;
  margin: -25px auto 0 63px;
  padding: 0;
}

.u-section-4 .u-btn-6 {
  border-style: none;
  margin: -25px 188px 0 auto;
  padding: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-gallery-2 {
  height: 253px;
  width: 904px;
  grid-gap: 10px 10px;
  margin: 51px auto 0;
}

.u-section-4 .u-gallery-inner-2 {
  grid-gap: 15px 15px;
  grid-template-columns: auto auto auto auto auto;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-btn-7 {
  border-style: none;
  margin: 0 auto 0 456px;
  padding: 0;
}

.u-section-4 .u-btn-8 {
  border-style: none;
  margin: -25px auto 0 88px;
  padding: 0;
}

.u-section-4 .u-btn-9 {
  border-style: none;
  margin: -25px auto 0 272px;
  padding: 0;
}

.u-section-4 .u-btn-10 {
  border-style: none;
  margin: -25px 398px 0 auto;
  padding: 0;
}

.u-section-4 .u-btn-11 {
  border-style: none;
  margin: -25px 214px 0 auto;
  padding: 0;
}

.u-section-4 .u-carousel-control-1 {
  background-image: none;
  width: 55px;
  height: 55px;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-4 .u-carousel-control-2 {
  background-image: none;
  width: 55px;
  height: 55px;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-4 .u-btn-1 {
    border-style: none none solid;
  }

  .u-section-4 .u-slider-1 {
    min-height: 453px;
    height: auto;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-gallery-1 {
    height: 232px;
    grid-template-columns: repeat(3, auto);
    margin-top: 18px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(5, auto);
  }

  .u-section-4 .u-btn-2 {
    margin-left: 231px;
  }

  .u-section-4 .u-btn-3 {
    margin-right: 172px;
  }

  .u-section-4 .u-btn-4 {
    margin-top: -26px;
    margin-left: 45px;
  }

  .u-section-4 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-gallery-2 {
    height: 393px;
    grid-template-columns: auto auto auto;
    margin-top: 194px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-gallery-inner-2 {
    grid-template-columns: repeat(5, auto);
  }

  .u-section-4 .u-btn-7 {
    margin-top: -283px;
    margin-left: 304px;
  }

  .u-section-4 .u-btn-8 {
    margin-top: 257px;
    margin-left: 0;
  }

  .u-section-4 .u-btn-9 {
    margin-left: 129px;
  }

  .u-section-4 .u-btn-10 {
    margin-right: 198px;
  }

  .u-section-4 .u-btn-11 {
    margin-right: 14px;
  }

  .u-section-4 .u-carousel-control-1 {
    top: 168px;
  }

  .u-section-4 .u-carousel-control-2 {
    top: 168px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-gallery-1 {
    height: 615px;
    grid-template-columns: repeat(2, auto);
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-4 .u-btn-2 {
    margin-left: 61px;
  }

  .u-section-4 .u-btn-3 {
    margin-right: 2px;
  }

  .u-section-4 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 65px;
  }

  .u-section-4 .u-gallery-2 {
    height: 680px;
    grid-template-columns: auto auto;
    margin-top: -93px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-2 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-4 .u-btn-7 {
    margin-left: 84px;
  }

  .u-section-4 .u-btn-9 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-10 {
    margin-right: 0;
  }

  .u-section-4 .u-btn-11 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1090px;
    grid-template-columns: repeat(1, auto);
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-4 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-gallery-2 {
    margin-top: -1020px;
    height: 1607px;
    grid-template-columns: auto;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-4 .u-btn-7 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-gallery-1 {
    height: 2236px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-4 .u-gallery-2 {
    margin-top: -402px;
    height: 989px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }
}