{% extends "homepage/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
   

    <div class= "row justify-content-md-center">
        <div class= "alert alert-info">
            
            Please check your email for password reset instructions.
            <div class= "row justify-content-md-center"> 
                <small class= "text-muted"> 
                    <a href="{% url 'login' %}"> Login to your account</a>
                </small>
            </div>
        </div>
    </div>



{% endblock %}