{% extends "homepage/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
   

    <div class= "row justify-content-md-center">
        <div class= "alert alert-info">
            <div class= "row justify-content-md-center">
                Please check your email for password reset instructions. 

            </div>
            <div class= "row justify-content-md-center  ">
                (Be sure to check your spam folder)
            </div>
            <br>
            <div class= "text-muted">

                <div class= "row justify-content-md-center">
                    <small> NOTE:  </small>
                </div>
                <div class= "row justify-content-md-center">
                    <small> **you will NOT get an email if you do not have an account** </small>
                    
                    
                </div>
            </div>

            <div class= "row justify-content-md-center"> 
                <small class= "text-muted"> 
                    <br>
                    <a href="{% url 'login' %}"> Login to your account</a>
                </small>
            </div>
        </div>
    </div>



{% endblock %}