{% extends "homepage/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block content %}

<div id="content-wrap">
    <div class="container profile-detailed-view">
        <div>
            <h1 style="text-align: center;">Welcome back, {{ user.username }}</h1>
            <hr color="white">
            <!-- Email -->
            <div class="row" style="margin-top: 30px;">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <h4><i class="fa fa-calendar" aria-hidden="true"></i>Email: </h4>
                </div>
                <div class="col-sm-4" style="font-family: Arial, Helvetica, sans-serif">
                    <h3 style="font-style: italic">{{ user.email }}</h3>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <!-- Date of birth -->
            <div class="row" style="margin-bottom: 30px;">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <h4><i class="fa fa-hourglass-half" aria-hidden="true"></i>Date of Birth:</h4>
                </div>
                <div class="col-sm-4" style="font-family: Arial, Helvetica, sans-serif">
                    <h3 style="font-style: italic">{{ user.profile.dob }}</h3>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <hr color="white">
            <!-- Genre Preference -->
            <h3 style="text-align: center; margin-top: 20px; margin-bottom: 10px;">Genre Preferences:</h3>
            <h4 style="text-align: center; margin-bottom: 30px; font-family: Arial, Helvetica, sans-serif; font-style: italic">
                {% for item in genre %}
                    {% if forloop.last %}
                        {{ item }}
                    {% else %}
                        {{ item }} ,  
                    {% endif %}
                {% endfor %}
            </h4>
            <hr color="white">
            <!-- Streaming services -->
            <h3 style="text-align: center; margin-top: 20px; margin-bottom: 10px;">Streaming Services:</h3>
            <h4 style="text-align: center; margin-bottom: 30px; font-family: Arial, Helvetica, sans-serif; font-style: italic">
                {% for item in services %}
                    {% if forloop.last %}
                        {{ item }}
                    {% else %}
                        {{ item }} ,  
                    {% endif %}
                {% endfor %}
            </h4>
            <hr color="white">
            <!-- Liked movies -->
            <h3 style="text-align: center; margin-top: 20px; margin-bottom: 10px;">Liked Movies:</h3>
            <div class="container liked-movies">
                {% for item in movies %}
                    {% if forloop.counter0|divisibleby:6 %}
                    <div class="row">
                    {% endif %}
                    {% if forloop.counter0|divisibleby:2 %}
                    <div class="col-md-4">
                        <div class="row">
                    {% endif %}
                    <div class="col-6 search-items">
                        <a href="../more_info/movie/{{ item.id }}"><img src="{{ item.poster_path }}"></a>
                    </div>
                    {% if forloop.counter|divisibleby:2 and forloop.counter0 > 0 %}
                        </div>
                    </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:6 and forloop.counter0 > 0 %}
                    </div>
                    {% endif %}
        
                    <!--if last closing div statements arent printed, then print-->
                    {% if forloop.last and not forloop.counter|divisibleby:2 %}
                        </div>
                    </div>
                    {% endif %}
                    {% if forloop.last and not forloop.counter|divisibleby:6 %}
                    </div>
                    {% endif %}
                {% endfor %}
                {% if not movies %}
                    <h6 style="text-align: center; color: grey">Please select movies from the survey</h6>
                {% endif %}
                    <div class="row">
                        <div class="col-sm mt-3">
                        <h3 style="text-align: center; margin-top: 20px; margin-bottom: 10px;">Liked TV shows:</h3>
                        {% for item in tv %}
                            {% if forloop.counter0|divisibleby:6 %}
                            <div class="row">
                            {% endif %}
                            {% if forloop.counter0|divisibleby:2 %}
                            <div class="col-md-4">
                                <div class="row">
                            {% endif %}
                            <div class="col-6 search-items">
                                <a href="../more_info/tv/{{ item.id }}"><img src="{{ item.poster_path }}"></a>
                            </div>
                            {% if forloop.counter|divisibleby:2 and forloop.counter0 > 0 %}
                                </div>
                            </div>
                            {% endif %}
                            {% if forloop.counter|divisibleby:6 and forloop.counter0 > 0 %}
                            </div>
                            {% endif %}
                
                            <!--if last closing div statements arent printed, then print-->
                            {% if forloop.last and not forloop.counter|divisibleby:2 %}
                                </div>
                            </div>
                            {% endif %}
                            {% if forloop.last and not forloop.counter|divisibleby:6 %}
                            </div>
                            {% endif %}
                        {% endfor %}
                        {% if not tv %}
                        <h6 style="text-align: center; color: grey">Please select TV shows from the survey</h6>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" style="text-align: center;">
                <a href="{% url 'survey' %}" class="btn btn-outline-info" style="text-align: center;color: rgb(255, 255, 255);border: 3px solid rgb(255, 255, 255); margin: 60px 0 15px 0">Complete our survey to get recommended movies! </a>
            </div>
            <div class="container" style="text-align: center;">
                <a href="{% url 'survey_movies' %}" class="btn btn-outline-info" style="text-align: center;color: rgb(255, 255, 255);border: 3px solid rgb(255, 255, 255); margin: 15px 0">Add more movies or TV shows to your liked list! </a>
            </div>
        </div>
    </div>
    
</div>


{% endblock content %}
