{% extends "homepage/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container" style="padding-bottom: 10rem;">
        <div class="row justify-content-md-center">
            <div class="col-md-auto" style="padding: 1rem">
                <legend style="color: white">Let us know a little bit about yourself!</legend> 
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card" style="width: 50rem; padding: 1rem">
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        {{ p_form.dob|as_crispy_field }}
                                        {{ p_form.genre|as_crispy_field }}
                                        {{ p_form.stream|as_crispy_field }}
                                    </div>

                                    <!-- Manually rendered movie choices -->
                                    <!-- <div class="container series">
                                        <label for="id_dob">Select the movies that you like</label>
                                        <div class="col-sm">
                                            {% for choice in p_form.movies.field.choices %}
                                                <label for="id_movies_{{ choice }}">
                                                    <img src="{{ choice.1 }}" name="{{ choice.0 }}"/>   
                                                </label> 
                                                <input type="checkbox" class="form-check-input" name="movies" id="id_movies_{{ choice }}" value="{{ choice.0 }}" {% if choice.0 in p_form.movies.value %} checked="checked"{% endif %} style="width:30px; height: 30px">
                                            {% endfor %}
                                        </div>    
                                    </div> -->
                                    
                                </div>
                            </div>
                        </div>
                        <center>
                            <div class="form-group">
                                <button class="btn btn-outline-info" type="submit">Continue</button>
                            </div>     
                        </center>
                    </div>
                </form>    
            </div>
        </div>
    </div>
{% endblock %}