{% extends "homepage/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
<link rel="stylesheet" href="{% static 'css/wide-search.css' %}">
<script defer>
    function showMovies() {
        var movie = document.getElementById("movie-results");
        var tv = document.getElementById("tv-results");
        var movie_toggle = document.getElementById("movie-toggle");
        var tv_toggle = document.getElementById("tv-toggle");
        movie_toggle.classList.add("search-toggle-selected")
        tv_toggle.classList.remove("search-toggle-selected")
        movie.style.display = "block";
        tv.style.display = "none";
    }
    function showTV() {
        var movie = document.getElementById("movie-results");
        var tv = document.getElementById("tv-results");
        var movie_toggle = document.getElementById("movie-toggle");
        var tv_toggle = document.getElementById("tv-toggle");
        tv_toggle.classList.add("search-toggle-selected")
        movie_toggle.classList.remove("search-toggle-selected")
        movie.style.display = "none";
        tv.style.display = "block";
    }
</script>
{% endblock %}
{% block content %}

    <div class="container" style="padding-bottom: 10rem;">
        <div class="row justify-content-md-center">
            <div class="col-md-auto" style="padding: 1rem">
                <legend style="color: white">Look up movies that you like!</legend> 
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <div class="card" style="width: 50rem; padding: 1rem">
                    <div class="card-body">
                        <div class="row justify-content-md-center">
                            <div class="col-md-auto">
                                <form class="header-btn wide-search-bar" id="wide-search-bar" method="get" style="margin-right: 0; margin-top: 5rem; margin-bottom: 5rem">
                                    <input name="search" type="text" placeholder="Search..." id="search-look">
                                    <button type="submit" form="wide-search-bar" class="wide-search-bar-button"><img src="{% static 'img/search--v2.png' %}"></button>
                                </form>
                            </div>
                        </div>
                        <div class="row justify-content-md-center">
                            <div class="col-md-auto">
                                <button type="button" onclick="showMovies()" class="search-toggle search-toggle-selected" id="movie-toggle">Movies</button>
                                <button type="button" onclick="showTV()" class="search-toggle" id="tv-toggle">TV Shows</button>    
                            </div>    
                        </div>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div id="movie-results">
                                <div class="row justify-content-md-center">
                                    <div class="col-md-auto series">
                                        {% for item in context.movie_results %}
                                            {% if forloop.counter0|divisibleby:6 %}
                                            <div class="row">
                                            {% endif %}
                                            {% if forloop.counter0|divisibleby:2 %}
                                            <div class="col-md-4">
                                                <div class="row">
                                            {% endif %}
                                            <div class="col-6 search-items" id="selected">
                                                <label for="id_movies_{{ item.id }}">
                                                    <img src="{{ item.poster_path }}" name="{{ item.id }}"/>
                                                </label>
                                                <input type="checkbox" class="form-check-input" name="movies" id="id_movies_{{ item.id }}" value="{{ item.id }}" style="width:30px; height: 30px">
                                                <h5 style="color: black">{{item.title}}</h5>     
                                            </div>
                                            {% if forloop.counter|divisibleby:2 and forloop.counter0 > 0 %}
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if forloop.counter|divisibleby:6 and forloop.counter0 > 0 %}
                                            </div>
                                            {% endif %}
                                
                                            <!--if last closing div statements arent printed, then print-->
                                            {% if forloop.last and not forloop.counter|divisibleby:2 %}
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if forloop.last and not forloop.counter|divisibleby:6 %}
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                        {% if not context.movie_results %}
                                            <h3>No results found</h3>
                                        {% endif %}            
                                    </div>
                                </div>
                            </div> 
                            <div id="tv-results" style="display: none">
                                <div class="row">
                                    <div class="container series">
                                        <div class="col-sm">
                                            {% for item in context.tv_results %}
                                                {% if forloop.counter0|divisibleby:6 %}
                                                <div class="row">
                                                {% endif %}
                                                {% if forloop.counter0|divisibleby:2 %}
                                                <div class="col-md-4">
                                                    <div class="row">
                                                {% endif %}
                                                <div class="col-6 search-items">
                                                    <label for="id_movies_{{ item.id }}">
                                                        <img src="{{ item.poster_path }}" name="{{ item.id }}"/>  
                                                    </label> 
                                                    <input type="checkbox" class="form-check-input" name="tv" id="id_movies_{{ item.id }}" value="{{ item.id }}" style="width:30px; height: 30px">
                                                    <h5 style="color: black">{{item.title}}</h5>    
                                                </div>
                                                {% if forloop.counter|divisibleby:2 and forloop.counter0 > 0 %}
                                                    </div>
                                                </div>
                                                {% endif %}
                                                {% if forloop.counter|divisibleby:6 and forloop.counter0 > 0 %}
                                                </div>
                                                {% endif %}
                                    
                                                <!--if last closing div statements arent printed, then print-->
                                                {% if forloop.last and not forloop.counter|divisibleby:2 %}
                                                    </div>
                                                </div>
                                                {% endif %}
                                                {% if forloop.last and not forloop.counter|divisibleby:6 %}
                                                </div>
                                                {% endif %}
                                            {% endfor %}
                                            {% if not context.tv_results %}
                                                <h3>No results found</h3>
                                            {% endif %}            
                                        </div>
                                    </div>
                                </div>
                            </div>   
                            <center>
                                <div class="form-group">
                                    <button class="btn btn-outline-info" type="submit">Continue</button>
                                </div>     
                            </center>                                  
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}